<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>AMPcrowd by amplab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">AMPcrowd</h1>
      <h2 class="project-tagline">A RESTful web service that runs microtasks across multiple crowds, provides quality control techniques, and is easily extensible.</h2>
      <a href="https://github.com/amplab/ampcrowd" class="btn">View on GitHub</a>
      <a href="https://github.com/amplab/ampcrowd/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/amplab/ampcrowd/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="ampcrowd" class="anchor" href="#ampcrowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>AMPcrowd</h1>

<p>This package provides a django server for running microtasks on various
crowd platforms.</p>

<p>Thing to do to get up and running:</p>

<ul>
<li><a href="install.html">Install</a> the  server.</li>
<h1>
<a id="web-service-user-facing-apis" class="anchor" href="#web-service-user-facing-apis" aria-hidden="true"><span class="octicon octicon-link"></span></a>Web Service User-Facing APIs</h1>

<ul>
<li>
<p>Create tasks for a group of points.</p>

<ul>
<li>
<p>URL :</p>

<p><strong>POST /crowds/CROWD_NAME/tasks/</strong></p>
</li>
<li>Available Crowds: see below.</li>
<li>
<p>Data : There is only one single field, 'data', which maps to a json dictionary with keys:</p>

<ul>
<li>
<strong>configuration</strong> : settings for this group of points, a json dictionary with keys:

<ul>
<li>
<strong>task_type</strong> : The type of this task, e.g, 'sa' for sentiment analysis, 'er' for entity resolution, 
'ft' for filtering tasks.</li>
<li>
<strong>task_batch_size</strong> : The maximum number of points to show a crowd worker in a single task (integer).</li>
<li>
<strong>num_assignments</strong>: The maximum number of crowd votes to acquire for each task.</li>
<li>
<strong>callback_url</strong>: The URL to POST results to (see below).</li>
<li>
<strong>CROWD_NAME</strong>: A json dictionary with configuration specific to the crowd running the tasks. See 
below for the settings for specific crowds.</li>
</ul>
</li>
<li>
<strong>group_id</strong>: A unique identifier for this group of points.</li>
<li>
<p><strong>group_context</strong>: A json dictionary that represents the context that is shared among all the points in the group. Each type of task has an <strong>optional</strong> field 'instruction' which let users pass in custom HTML-based instructions. For each specific task :</p>

<ol>
<li>
<p>'sa'(Sentiment Analysis). The group_context is a json dictionary which is empty or only consists of custom instructions, e.g, </p>

<div class="highlight highlight-json"><pre>{<span class="pl-s"><span class="pl-pds">"</span>instruction<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>&lt;p&gt;For each tweet, decide whether it is positive, negative, or neutral&lt;/p&gt;<span class="pl-pds">"</span></span>}</pre></div>
</li>
<li>
<p>'er'(Entity Resolution). In addition to custome instructions, the group_context consists of the shared schema for each pair of record . 
For example, the following:</p>

<div class="highlight highlight-json"><pre>{
   <span class="pl-s"><span class="pl-pds">"</span>instruction<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>Decide whether two records in each group refer to the &lt;b&gt;same entity&lt;/b&gt;.<span class="pl-pds">"</span></span>,
   <span class="pl-s"><span class="pl-pds">"</span>fields<span class="pl-pds">"</span></span>:[<span class="pl-s"><span class="pl-pds">"</span>price<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>location<span class="pl-pds">"</span></span>]
}</pre></div>
</li>
<li>
<p>'ft'(Filtering). In addition to the custom instructions, the group_context consists of the shared schema of the records in each question. 
It is similar to the group_context of an entity resolution task. For example :</p>

<div class="highlight highlight-json"><pre>{
   <span class="pl-s"><span class="pl-pds">"</span>instruction<span class="pl-pds">"</span></span>:<span class="pl-s"><span class="pl-pds">"</span>&lt;p&gt;Answer the question in each group.&lt;/p&gt;<span class="pl-pds">"</span></span>,
   <span class="pl-s"><span class="pl-pds">"</span>fields<span class="pl-pds">"</span></span>:[<span class="pl-s"><span class="pl-pds">"</span>Conference<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>First Author<span class="pl-pds">"</span></span>]
}</pre></div>
</li>
</ol>
</li>
<li>
<p><strong>content</strong> : Data necessary to render the crowd interface for the selected task type. Available types are:</p>

<ol>
<li>
<p>'sa' (Sentiment Analysis). Content should be a json dictionary mapping unique ids to tweet strings, 
e.g, the following:</p>

<div class="highlight highlight-json"><pre>{
    <span class="pl-s"><span class="pl-pds">"</span>tweet1<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Arsenal won the 4th again!<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>tweet2<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Theo Walcott broke the ligament in his knee last season.<span class="pl-pds">"</span></span>,
    <span class="pl-s"><span class="pl-pds">"</span>tweet3<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Lebron James went back to Cavaliers after he found his teammates in Heats no longer powerful.<span class="pl-pds">"</span></span>
}</pre></div>
</li>
<li>
<p>'er' (Entity Resolution). Content should consist of pairs of records for entity resolution, specified as
a json dictionary with pairs of records mapped to unique ids, e.g, the following:</p>

<div class="highlight highlight-json"><pre>{
    <span class="pl-s"><span class="pl-pds">"</span>pair1<span class="pl-pds">"</span></span>: [[<span class="pl-s"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>LA<span class="pl-pds">"</span></span>], [<span class="pl-s"><span class="pl-pds">"</span>6<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>Berkeley<span class="pl-pds">"</span></span>]],
    <span class="pl-s"><span class="pl-pds">"</span>pair2<span class="pl-pds">"</span></span>: [[<span class="pl-s"><span class="pl-pds">"</span>80<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>London<span class="pl-pds">"</span></span>], [<span class="pl-s"><span class="pl-pds">"</span>80.0<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>Londyn<span class="pl-pds">"</span></span>]]
}</pre></div>
</li>
<li>
<p>'ft'(Filtering). The content for each point should be a json dictionary consisting of a title and the values
for each attribute, e.g, the following:</p>

<div class="highlight highlight-json"><pre>{
    <span class="pl-s"><span class="pl-pds">"</span>ft1<span class="pl-pds">"</span></span>: {<span class="pl-s"><span class="pl-pds">"</span>title<span class="pl-pds">"</span></span> : <span class="pl-s"><span class="pl-pds">"</span>Is this a paper of Michael Franklin?<span class="pl-pds">"</span></span>, 
            <span class="pl-s"><span class="pl-pds">"</span>record<span class="pl-pds">"</span></span> : [<span class="pl-s"><span class="pl-pds">"</span>icde<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>Michael Franklin<span class="pl-pds">"</span></span>]}
}</pre></div>
</li>
</ol>
</li>
</ul>
</li>
<li>
<p>Examples :</p>

<div class="highlight highlight-json"><pre>  data=
  {
      <span class="pl-s"><span class="pl-pds">"</span>configuration<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>task_type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>sa<span class="pl-pds">"</span></span>,
          <span class="pl-s"><span class="pl-pds">"</span>task_batch_size<span class="pl-pds">"</span></span>: <span class="pl-c1">2</span>,
          <span class="pl-s"><span class="pl-pds">"</span>num_assignments<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>,
          <span class="pl-s"><span class="pl-pds">"</span>callback_url<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>google.com<span class="pl-pds">"</span></span>
      },
      <span class="pl-s"><span class="pl-pds">"</span>group_id<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Dan1<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>group_context<span class="pl-pds">"</span></span>: {},
      <span class="pl-s"><span class="pl-pds">"</span>content<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>tweet1<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>aa<span class="pl-pds">"</span></span>, 
          <span class="pl-s"><span class="pl-pds">"</span>tweet2<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>bb<span class="pl-pds">"</span></span>
      }
   }

  data=
  {
      <span class="pl-s"><span class="pl-pds">"</span>configuration<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>task_type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>er<span class="pl-pds">"</span></span>,
          <span class="pl-s"><span class="pl-pds">"</span>task_batch_size<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>,
          <span class="pl-s"><span class="pl-pds">"</span>num_assignments<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>,
          <span class="pl-s"><span class="pl-pds">"</span>callback_url<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>google.com<span class="pl-pds">"</span></span>
      },
      <span class="pl-s"><span class="pl-pds">"</span>group_id<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>haha<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>group_context<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>fields<span class="pl-pds">"</span></span>: [<span class="pl-s"><span class="pl-pds">"</span>age<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span>]
      },
      <span class="pl-s"><span class="pl-pds">"</span>content<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>pair1<span class="pl-pds">"</span></span>: [[<span class="pl-s"><span class="pl-pds">"</span>22<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>James<span class="pl-pds">"</span></span>],[<span class="pl-s"><span class="pl-pds">"</span>21<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>Wenbo<span class="pl-pds">"</span></span>]]
      }
   }

  data=
  {
      <span class="pl-s"><span class="pl-pds">"</span>configuration<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>task_type<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>ft<span class="pl-pds">"</span></span>,
          <span class="pl-s"><span class="pl-pds">"</span>task_batch_size<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>,
          <span class="pl-s"><span class="pl-pds">"</span>num_assignments<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>,
          <span class="pl-s"><span class="pl-pds">"</span>callback_url<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>google.com<span class="pl-pds">"</span></span>
      },
      <span class="pl-s"><span class="pl-pds">"</span>group_id<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>haha<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>group_context<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>fields<span class="pl-pds">"</span></span>: [<span class="pl-s"><span class="pl-pds">"</span>Conference<span class="pl-pds">"</span></span>,<span class="pl-s"><span class="pl-pds">"</span>First Author<span class="pl-pds">"</span></span>]
      },
      <span class="pl-s"><span class="pl-pds">"</span>content<span class="pl-pds">"</span></span>: {
          <span class="pl-s"><span class="pl-pds">"</span>ft1<span class="pl-pds">"</span></span>: {
              <span class="pl-s"><span class="pl-pds">"</span>title<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Decide whether it is one of Michael Franklin's Paper.<span class="pl-pds">"</span></span>,
              <span class="pl-s"><span class="pl-pds">"</span>record<span class="pl-pds">"</span></span>: [<span class="pl-s"><span class="pl-pds">"</span>icde<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>Michael Franklin<span class="pl-pds">"</span></span>]
          },
          <span class="pl-s"><span class="pl-pds">"</span>ft2<span class="pl-pds">"</span></span>: {
              <span class="pl-s"><span class="pl-pds">"</span>title<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Decide whether it is one of Jiannan Wang's Paper.<span class="pl-pds">"</span></span>, 
              <span class="pl-s"><span class="pl-pds">"</span>record<span class="pl-pds">"</span></span> : [<span class="pl-s"><span class="pl-pds">"</span>nsdi<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">"</span>Zhao Zhang<span class="pl-pds">"</span></span>]
          }
      }
  }</pre></div>
</li>
<li>
<p>The direct response for this request is a simple json dictionary, one of the following:</p>

<div class="highlight highlight-json"><pre>  {<span class="pl-s"><span class="pl-pds">"</span>status<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>ok<span class="pl-pds">"</span></span>}
  {<span class="pl-s"><span class="pl-pds">"</span>status<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>wrong<span class="pl-pds">"</span></span>}</pre></div>

<p>The latter means that the format is incorrect, it may be attributed to the wrong format of the content field
or omissions of other important fields.</p>
</li>
</ul>
</li>
<li>
<p>Send the results to the callback URL (<strong>POST</strong> method):</p>

<p>When a point gets enough votes from the crowd, the EM/MV answer will be sent back to the call back url.</p>

<ul>
<li>
<p>The results that are sent back consist of a single field, 'data', which maps to a json dictionary :</p>

<ul>
<li>
<strong>group_id</strong> : a string specifying the group that this point belongs to</li>
<li>
<strong>answers</strong>: a list of 1 or more responses for points in the group, each of which contains:

<ul>
<li>
<strong>identifier</strong> : the identifier of the point given when the group was created.</li>
<li>
<strong>value</strong> : the answer value. Values should depend on the type of the crowd task. Available types are:

<ul>
<li>'sa': Value should be an integer in [1,5] corresponding to:

<ul>
<li>
<strong>1</strong>: Tweet is very negative</li>
<li>
<strong>2</strong>: Tweet is somewhat negative</li>
<li>
<strong>3</strong>: Tweet is neutral</li>
<li>
<strong>4</strong>: Tweet is somewhat positive</li>
<li>
<strong>5</strong>: Tweet is very positive</li>
</ul>
</li>
<li>'er': Value should be either 0.0 or 1.0, indicating 'records do not match' or 'records match', respectively.</li>
<li>'ft': Value should be either 0.0 or 1.0, indicating 'the answer to the question is NO' or 'the answer to the
question is YES' respectively.</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>
<p>Examples:</p>

<div class="highlight highlight-json"><pre>  data=
  {
      <span class="pl-s"><span class="pl-pds">"</span>group_id<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>Dan1<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>answers<span class="pl-pds">"</span></span>: [
          {
              <span class="pl-s"><span class="pl-pds">"</span>identifier<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>tweet1<span class="pl-pds">"</span></span>,
              <span class="pl-s"><span class="pl-pds">"</span>value<span class="pl-pds">"</span></span>: <span class="pl-c1">1</span>
          },
          {
              <span class="pl-s"><span class="pl-pds">"</span>identifier<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>tweet2<span class="pl-pds">"</span></span>,
              <span class="pl-s"><span class="pl-pds">"</span>value<span class="pl-pds">"</span></span>: <span class="pl-c1">3</span>
          }
      ]
  }

  data=
  {
      <span class="pl-s"><span class="pl-pds">"</span>group_id<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>haha<span class="pl-pds">"</span></span>,
      <span class="pl-s"><span class="pl-pds">"</span>answers<span class="pl-pds">"</span></span>: [
          {
              <span class="pl-s"><span class="pl-pds">"</span>identifier<span class="pl-pds">"</span></span>: <span class="pl-s"><span class="pl-pds">"</span>pair1<span class="pl-pds">"</span></span>,
              <span class="pl-s"><span class="pl-pds">"</span>value<span class="pl-pds">"</span></span>: <span class="pl-c1">0.0</span>
          }
      ]
  }</pre></div>
</li>
</ul>
</li>
<li>
<p>Delete all the tasks that are stored in the database for a given crowd:</p>

<ul>
<li>URL :
<strong>GET /crowds/CROWD_NAME/purge_tasks/</strong>
</li>
</ul>
</li>
</ul>

<h1>
<a id="crowd-platform-facing-apis" class="anchor" href="#crowd-platform-facing-apis" aria-hidden="true"><span class="octicon octicon-link"></span></a>Crowd platform-facing APIs</h1>

<ul>
<li>
<p>Get a new assignment to display to a worker:</p>

<ul>
<li>URL: <strong>GET /crowds/CROWD_NAME/assignments/</strong>
</li>
<li>Data: custom for each crowd (see each crowd's <code>assignment_context</code>, below).</li>
<li>Returns: HTML for the interface that a crowd worker can use to complete the
task.</li>
</ul>
</li>
<li>
<p>Post a crowd worker's response to the server:</p>

<ul>
<li>URL: <strong>POST /crowds/CROWD_NAME/responses/</strong>
</li>
<li>
<p>Data: custom for each crowd (see each crowd's <code>response_context</code>, below).
Data should be x-www-form-urlencoded and must contain at least the key:</p>

<ul>
<li>
<code>answers</code>: the results of the task. Should be a JSON string containing
key-value pairs, where each key is the unique identifier for a single
point, and each value is that point's label assigned by the crowd worker.</li>
</ul>
</li>
<li><p>Returns: HTTP status 200 OK on success.</p></li>
</ul>
</li>
</ul>

<h1>
<a id="add-your-own-task" class="anchor" href="#add-your-own-task" aria-hidden="true"><span class="octicon octicon-link"></span></a>Add your own task</h1>

<p>You can add your own type of crowd task by following the following steps :</p>

<ol>
<li>
<p>Define the API for creating such task, including:</p>

<ul>
<li>Defining the type name of this task, which is a string</li>
<li>Defining the group_context for this task, which is a <strong>json object</strong> (json array or json dictionary)</li>
<li>
<p>Defining the content for each point, which is a <strong>json object</strong>. Note that the 'content' field in the API should
be a json array mapping ids of points to their contents :</p>

<div class="highlight highlight-json"><pre>  {<span class="pl-ii">'id1'</span>: <span class="pl-ii">content</span><span class="pl-c1">1</span>, <span class="pl-ii">'id2'</span>: <span class="pl-ii">content</span><span class="pl-c1">2</span>}</pre></div>
</li>
</ul>
</li>
<li><p>Find  <code>/basecrowd/templates/basecrowd/TYPE.html</code>, copy the file to <code>TYPENAME.html</code> where <code>TYPENAME</code> is 
the type name of this task which  was defined by you in step 1.</p></li>
<li><p>Open this file, follow the comments in the file to create the template for this task.</p></li>
</ol>

<h1>
<a id="available-crowds" class="anchor" href="#available-crowds" aria-hidden="true"><span class="octicon octicon-link"></span></a>Available Crowds</h1>

<p>The following crowds can be used to process tasks with the crowd server:</p>

<h2>
<a id="amazon-mechanical-turk-httpswwwmturkcom" class="anchor" href="#amazon-mechanical-turk-httpswwwmturkcom" aria-hidden="true"><span class="octicon octicon-link"></span></a>Amazon Mechanical Turk (<a href="https://www.mturk.com">https://www.mturk.com</a>)</h2>

<ul>
<li>CROWD_NAME: 'amt'</li>
<li>
<p>special configuration keys: </p>

<ul>
<li>
<strong>Required</strong>:

<ul>
<li>
<code>sandbox</code> : true/false  which indicates using sandbox/real amt</li>
</ul>
</li>
<li>
<strong>Optional</strong>:

<ul>
<li>
<code>title</code> : the title that will show up in AMT's HIT listings (default: 'Generic HIT').<br>
</li>
<li>
<code>descripton</code> : the description that will show up in AMT's HIT listings (default: 'This is a HIT to run on AMT.').</li>
<li>
<code>reward</code> : a float containing the number of dollars to pay for each assignment (default: 0.03).</li>
<li>
<code>duration</code> : the expected amount of time a worker should spend on each assignment, in minutes (default: 60).</li>
<li>
<code>frame_height</code> : the height of the iframe in which workers will see the assignment (default: 800).</li>
</ul>
</li>
</ul>
</li>
<li>
<p><code>assignment_context</code>: urlencoded key-value pairs that must include the
following keys:</p>

<ul>
<li>
<code>hitId</code>: the AMT HIT id for the requested task.</li>
<li>
<code>worker_id</code>: the id of the Turker who is assigned to the task, not present
if the worker is previewing the task rather than working on it.</li>
<li>
<code>turkSubmitTo</code>: the url which must be posted to in order for AMT to register
that the task has been completed.</li>
<li>
<code>assignmentId</code>: the unique id assigning this worker to this HIT, given the
special value <code>ASSIGNMENT_ID_NOT_AVAILABLE</code> if the worker is previewing the
task rather than working on it.</li>
</ul>
</li>
<li>
<p><code>response_context</code>: x-www-form-urlencoded key-value pairs that must include
the following keys:</p>

<ul>
<li>
<code>answers</code>: the results of the task (see API, above).</li>
<li>
<code>HITId</code>: the AMT HIT id for the task.</li>
<li>
<code>workerId</code>: the id of the Turker who is responding to the task.</li>
<li>
<code>assignmentId</code>: the unique id assigning this worker to this HIT.</li>
</ul>
</li>
</ul>

<h2>
<a id="internal-crowd" class="anchor" href="#internal-crowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>Internal Crowd</h2>

<ul>
<li>CROWD_NAME: 'internal'</li>
<li>special configuration keys: None</li>
<li>
<p><code>assignment_context</code>: urlencoded key-value pairs that must include the
following keys:</p>

<ul>
<li>
<code>worker_id</code>: the id of the worker assigned to the task.</li>
<li>
<code>task_type</code>: the type of task to assign to the worker.</li>
</ul>
</li>
<li>
<p><code>response_context</code>: x-www-form-urlencoded key-value pairs that must include
the following keys:</p>

<ul>
<li>
<code>answers</code>: the results of the task (see API, above).</li>
<li>
<code>task_id</code>: the unique id for the task.</li>
<li>
<code>worker_id</code>: the unique id of the worker responding to the task.</li>
<li>
<code>assignment_id</code>: the unique id assigning this worker to this task.</li>
</ul>
</li>
</ul>

<h1>
<a id="interfacing-with-a-new-crowd" class="anchor" href="#interfacing-with-a-new-crowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>Interfacing with a new crowd</h1>

<p>The crowd server is designed to be easily extensible to send tasks to other
crowd systems. Each crowd is implemented as a Django app that can re-use models,
views, and templates from our generic 'basecrowd' implementation. To add support
for a new crowd to the server, you must:</p>

<ol>
<li><p>Assign your crowd a CROWD_NAME that can be referenced from within URLs.</p></li>
<li><p>Create your django app with <code>python manage.py startapp CROWD_NAME</code>.</p></li>
<li><p>In <code>CROWD_NAME/models.py</code>, define your models. A crowd must have at a minimum 
four models: one for Tasks, one for Task Groups, one for Workers, and one for
worker Responses. Luckily, we provide abstract implementations of all of
these in <code>basecrowd/models.py</code>, so simply subclass
<code>models.AbstractCrowdTask</code>, <code>models.AbstractCrowdTaskGroup</code>,
<code>models.AbstractCrowdWorker</code>, and <code>models.AbstractCrowdWorkerResponse</code> and
you're good to go. You can add custom fields to your subclasses if you'd
like, but it's probably not necessary.</p></li>
<li>
<p>Create a new file <code>CROWD_NAME/interface.py</code>. This will be the bulk of your
work. In the file, create a subclass of <code>basecrowd.interface.CrowdInterface</code>,
and implement any methods necessary to support your crowd. Feel free to look
at <code>basecrowd/interface.py</code> for the full list of available methods, but
you're likely to need only a few, including:</p>

<ul>
<li>
<code>create_task</code>: create a new task on your crowd platform.</li>
<li>
<code>delete_tasks</code>: delete one or more tasks on your crowd platform.</li>
<li>
<code>get_assignment_context</code>: when your crowd platform requests a task
interface, provide enough context to render your interface template
(described more below).</li>
<li>
<code>get_response_context</code>: when a crowd worker submits data, extract it
from the request and put it in a format that can be saved to your models.</li>
</ul>

<p>Finally, create an instance of your interface as a module-level variable,
e.g.:</p>

<div class="highlight highlight-python"><pre>MYCROWD_INTERFACE <span class="pl-k">=</span> MyCrowdInterface(CROWD_NAME)</pre></div>
</li>
<li>
<p>In <code>CROWD_NAME/__init__.py</code>, register your new interface with the server:</p>

<div class="highlight highlight-python"><pre><span class="pl-k">from</span> interface <span class="pl-k">import</span> MYCROWD_INTERFACE
<span class="pl-k">from</span> models <span class="pl-k">import</span> <span class="pl-k">*</span>
<span class="pl-k">from</span> basecrowd.interface <span class="pl-k">import</span> CrowdRegistry

CrowdRegistry.register_crowd(
    MYCROWD_INTERFACE,
    <span class="pl-smi">task_model</span><span class="pl-k">=</span>MyCrowdTaskSubclass,
    <span class="pl-smi">group_model</span><span class="pl-k">=</span>MyTaskGroupSubclass,
    <span class="pl-smi">worker_model</span><span class="pl-k">=</span>MyWorkerSubclass,
    <span class="pl-smi">response_model</span><span class="pl-k">=</span>MyResponseSubclass)</pre></div>
</li>
<li><p>Now all we need are templates to render the task interfaces to the crowd.
Again, we provide a base template that should do almost all of the heavy
lifting. Create your app's template directories and a new template in
<code>CROWD_NAME/templates/CROWD_NAME/base.html</code>. Inherit from our base template
with <code>{% extends "basecrowd/base.html" %}</code>, and implement as many blocks in
that template as you'd like. Our base template (located in
<code>basecrowd/templates/basecrowd/base.html</code>) contains many inheritable blocks,
but you probably need to implement only one of them:
<code>{% block get_submit_context_func %}</code>. This block should contain a javascript
function definition, <code>get_submit_context(urlParamStrings)</code> that takes a list
of URL parameters (unsplit in the form 'key=value'), and should return a JSON
object containing any context that needs to be submitted to the server with
the data (e.g. the task, worker, and assignment ids relevant to this
interface). See our implementation in <code>amt/templates/amt/base.html</code> for
details.</p></li>
<li><p>The interfaces for individual task types (sentiment analysis, deduplication,
etc.) should just fit into your <code>base.html</code> template with no additional work.
If you completely customized <code>base.html</code>, however, you might need custom
templates for the task types as well. To create them, simply follow the steps
described above for creating a new task type, but place your template in your
crowd's template directory (e.g., <code>CROWD_NAME/templates/CROWD_NAME/sa.html</code>).</p></li>
<li><p>And that's it! Now you should be able to use the APIs described above to
create and complete tasks on your new crowd platform. If you run into
trouble, take a look at our implementation of the Amazon Mechanical Turk
crowd (in <code>amt/</code>) for inspiration.</p></li>
</ol>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/amplab/ampcrowd">AMPcrowd</a> is maintained by <a href="https://github.com/amplab">amplab</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>

