<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>AMPcrowd by amplab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a class="nostyle" href="index.html">AMPcrowd</a></h1>
      <h2 class="project-tagline">A RESTful web service that runs microtasks across multiple crowds, provides quality control techniques, and is easily extensible.</h2>
      <a href="https://github.com/amplab/ampcrowd" class="btn">View on GitHub</a>
      <a href="https://github.com/amplab/ampcrowd/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/amplab/ampcrowd/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="ampcrowd" class="anchor" href="#ampcrowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>AMPcrowd</h1>

<p>This package provides a django server for running microtasks on various
crowd platforms.</p>

<p>Thing to do to get up and running:</p>

<ul>
<li><p><a href="install.html">Install</a> the server.</p></li>
<li><p>Read up on the <a href="user_api.html">user-facing APIs.</a></p></li>
<li><p>Read up on the <a href="crowd_api.html">crowd-facing APIs.</a></p></li>
<li><p>Learn how to <a href="new_tasks.html">add new crowd task types to the server.</a></p></li>
<li><p>See the <a href="available_crowds.html">list of available crowd platforms.</a></p></li>
<li><p>Learn how to <a href="new_crowds.html">add support for new crowd platforms.</a></p></li>

<h1>
<a id="crowd-platform-facing-apis" class="anchor" href="#crowd-platform-facing-apis" aria-hidden="true"><span class="octicon octicon-link"></span></a>Crowd platform-facing APIs</h1>

<ul>
<li>
<p>Get a new assignment to display to a worker:</p>

<ul>
<li>URL: <strong>GET /crowds/CROWD_NAME/assignments/</strong>
</li>
<li>Data: custom for each crowd (see each crowd's <code>assignment_context</code>, below).</li>
<li>Returns: HTML for the interface that a crowd worker can use to complete the
task.</li>
</ul>
</li>
<li>
<p>Post a crowd worker's response to the server:</p>

<ul>
<li>URL: <strong>POST /crowds/CROWD_NAME/responses/</strong>
</li>
<li>
<p>Data: custom for each crowd (see each crowd's <code>response_context</code>, below).
Data should be x-www-form-urlencoded and must contain at least the key:</p>

<ul>
<li>
<code>answers</code>: the results of the task. Should be a JSON string containing
key-value pairs, where each key is the unique identifier for a single
point, and each value is that point's label assigned by the crowd worker.</li>
</ul>
</li>
<li><p>Returns: HTTP status 200 OK on success.</p></li>
</ul>
</li>
</ul>

<h1>
<a id="add-your-own-task" class="anchor" href="#add-your-own-task" aria-hidden="true"><span class="octicon octicon-link"></span></a>Add your own task</h1>

<p>You can add your own type of crowd task by following the following steps :</p>

<ol>
<li>
<p>Define the API for creating such task, including:</p>

<ul>
<li>Defining the type name of this task, which is a string</li>
<li>Defining the group_context for this task, which is a <strong>json object</strong> (json array or json dictionary)</li>
<li>
<p>Defining the content for each point, which is a <strong>json object</strong>. Note that the 'content' field in the API should
be a json array mapping ids of points to their contents :</p>

<div class="highlight highlight-json"><pre>  {<span class="pl-ii">'id1'</span>: <span class="pl-ii">content</span><span class="pl-c1">1</span>, <span class="pl-ii">'id2'</span>: <span class="pl-ii">content</span><span class="pl-c1">2</span>}</pre></div>
</li>
</ul>
</li>
<li><p>Find  <code>/basecrowd/templates/basecrowd/TYPE.html</code>, copy the file to <code>TYPENAME.html</code> where <code>TYPENAME</code> is 
the type name of this task which  was defined by you in step 1.</p></li>
<li><p>Open this file, follow the comments in the file to create the template for this task.</p></li>
</ol>

<h1>
<a id="available-crowds" class="anchor" href="#available-crowds" aria-hidden="true"><span class="octicon octicon-link"></span></a>Available Crowds</h1>

<p>The following crowds can be used to process tasks with the crowd server:</p>

<h2>
<a id="amazon-mechanical-turk-httpswwwmturkcom" class="anchor" href="#amazon-mechanical-turk-httpswwwmturkcom" aria-hidden="true"><span class="octicon octicon-link"></span></a>Amazon Mechanical Turk (<a href="https://www.mturk.com">https://www.mturk.com</a>)</h2>

<ul>
<li>CROWD_NAME: 'amt'</li>
<li>
<p>special configuration keys: </p>

<ul>
<li>
<strong>Required</strong>:

<ul>
<li>
<code>sandbox</code> : true/false  which indicates using sandbox/real amt</li>
</ul>
</li>
<li>
<strong>Optional</strong>:

<ul>
<li>
<code>title</code> : the title that will show up in AMT's HIT listings (default: 'Generic HIT').<br>
</li>
<li>
<code>descripton</code> : the description that will show up in AMT's HIT listings (default: 'This is a HIT to run on AMT.').</li>
<li>
<code>reward</code> : a float containing the number of dollars to pay for each assignment (default: 0.03).</li>
<li>
<code>duration</code> : the expected amount of time a worker should spend on each assignment, in minutes (default: 60).</li>
<li>
<code>frame_height</code> : the height of the iframe in which workers will see the assignment (default: 800).</li>
</ul>
</li>
</ul>
</li>
<li>
<p><code>assignment_context</code>: urlencoded key-value pairs that must include the
following keys:</p>

<ul>
<li>
<code>hitId</code>: the AMT HIT id for the requested task.</li>
<li>
<code>worker_id</code>: the id of the Turker who is assigned to the task, not present
if the worker is previewing the task rather than working on it.</li>
<li>
<code>turkSubmitTo</code>: the url which must be posted to in order for AMT to register
that the task has been completed.</li>
<li>
<code>assignmentId</code>: the unique id assigning this worker to this HIT, given the
special value <code>ASSIGNMENT_ID_NOT_AVAILABLE</code> if the worker is previewing the
task rather than working on it.</li>
</ul>
</li>
<li>
<p><code>response_context</code>: x-www-form-urlencoded key-value pairs that must include
the following keys:</p>

<ul>
<li>
<code>answers</code>: the results of the task (see API, above).</li>
<li>
<code>HITId</code>: the AMT HIT id for the task.</li>
<li>
<code>workerId</code>: the id of the Turker who is responding to the task.</li>
<li>
<code>assignmentId</code>: the unique id assigning this worker to this HIT.</li>
</ul>
</li>
</ul>

<h2>
<a id="internal-crowd" class="anchor" href="#internal-crowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>Internal Crowd</h2>

<ul>
<li>CROWD_NAME: 'internal'</li>
<li>special configuration keys: None</li>
<li>
<p><code>assignment_context</code>: urlencoded key-value pairs that must include the
following keys:</p>

<ul>
<li>
<code>worker_id</code>: the id of the worker assigned to the task.</li>
<li>
<code>task_type</code>: the type of task to assign to the worker.</li>
</ul>
</li>
<li>
<p><code>response_context</code>: x-www-form-urlencoded key-value pairs that must include
the following keys:</p>

<ul>
<li>
<code>answers</code>: the results of the task (see API, above).</li>
<li>
<code>task_id</code>: the unique id for the task.</li>
<li>
<code>worker_id</code>: the unique id of the worker responding to the task.</li>
<li>
<code>assignment_id</code>: the unique id assigning this worker to this task.</li>
</ul>
</li>
</ul>

<h1>
<a id="interfacing-with-a-new-crowd" class="anchor" href="#interfacing-with-a-new-crowd" aria-hidden="true"><span class="octicon octicon-link"></span></a>Interfacing with a new crowd</h1>

<p>The crowd server is designed to be easily extensible to send tasks to other
crowd systems. Each crowd is implemented as a Django app that can re-use models,
views, and templates from our generic 'basecrowd' implementation. To add support
for a new crowd to the server, you must:</p>

<ol>
<li><p>Assign your crowd a CROWD_NAME that can be referenced from within URLs.</p></li>
<li><p>Create your django app with <code>python manage.py startapp CROWD_NAME</code>.</p></li>
<li><p>In <code>CROWD_NAME/models.py</code>, define your models. A crowd must have at a minimum 
four models: one for Tasks, one for Task Groups, one for Workers, and one for
worker Responses. Luckily, we provide abstract implementations of all of
these in <code>basecrowd/models.py</code>, so simply subclass
<code>models.AbstractCrowdTask</code>, <code>models.AbstractCrowdTaskGroup</code>,
<code>models.AbstractCrowdWorker</code>, and <code>models.AbstractCrowdWorkerResponse</code> and
you're good to go. You can add custom fields to your subclasses if you'd
like, but it's probably not necessary.</p></li>
<li>
<p>Create a new file <code>CROWD_NAME/interface.py</code>. This will be the bulk of your
work. In the file, create a subclass of <code>basecrowd.interface.CrowdInterface</code>,
and implement any methods necessary to support your crowd. Feel free to look
at <code>basecrowd/interface.py</code> for the full list of available methods, but
you're likely to need only a few, including:</p>

<ul>
<li>
<code>create_task</code>: create a new task on your crowd platform.</li>
<li>
<code>delete_tasks</code>: delete one or more tasks on your crowd platform.</li>
<li>
<code>get_assignment_context</code>: when your crowd platform requests a task
interface, provide enough context to render your interface template
(described more below).</li>
<li>
<code>get_response_context</code>: when a crowd worker submits data, extract it
from the request and put it in a format that can be saved to your models.</li>
</ul>

<p>Finally, create an instance of your interface as a module-level variable,
e.g.:</p>

<div class="highlight highlight-python"><pre>MYCROWD_INTERFACE <span class="pl-k">=</span> MyCrowdInterface(CROWD_NAME)</pre></div>
</li>
<li>
<p>In <code>CROWD_NAME/__init__.py</code>, register your new interface with the server:</p>

<div class="highlight highlight-python"><pre><span class="pl-k">from</span> interface <span class="pl-k">import</span> MYCROWD_INTERFACE
<span class="pl-k">from</span> models <span class="pl-k">import</span> <span class="pl-k">*</span>
<span class="pl-k">from</span> basecrowd.interface <span class="pl-k">import</span> CrowdRegistry

CrowdRegistry.register_crowd(
    MYCROWD_INTERFACE,
    <span class="pl-smi">task_model</span><span class="pl-k">=</span>MyCrowdTaskSubclass,
    <span class="pl-smi">group_model</span><span class="pl-k">=</span>MyTaskGroupSubclass,
    <span class="pl-smi">worker_model</span><span class="pl-k">=</span>MyWorkerSubclass,
    <span class="pl-smi">response_model</span><span class="pl-k">=</span>MyResponseSubclass)</pre></div>
</li>
<li><p>Now all we need are templates to render the task interfaces to the crowd.
Again, we provide a base template that should do almost all of the heavy
lifting. Create your app's template directories and a new template in
<code>CROWD_NAME/templates/CROWD_NAME/base.html</code>. Inherit from our base template
with <code>{% extends "basecrowd/base.html" %}</code>, and implement as many blocks in
that template as you'd like. Our base template (located in
<code>basecrowd/templates/basecrowd/base.html</code>) contains many inheritable blocks,
but you probably need to implement only one of them:
<code>{% block get_submit_context_func %}</code>. This block should contain a javascript
function definition, <code>get_submit_context(urlParamStrings)</code> that takes a list
of URL parameters (unsplit in the form 'key=value'), and should return a JSON
object containing any context that needs to be submitted to the server with
the data (e.g. the task, worker, and assignment ids relevant to this
interface). See our implementation in <code>amt/templates/amt/base.html</code> for
details.</p></li>
<li><p>The interfaces for individual task types (sentiment analysis, deduplication,
etc.) should just fit into your <code>base.html</code> template with no additional work.
If you completely customized <code>base.html</code>, however, you might need custom
templates for the task types as well. To create them, simply follow the steps
described above for creating a new task type, but place your template in your
crowd's template directory (e.g., <code>CROWD_NAME/templates/CROWD_NAME/sa.html</code>).</p></li>
<li><p>And that's it! Now you should be able to use the APIs described above to
create and complete tasks on your new crowd platform. If you run into
trouble, take a look at our implementation of the Amazon Mechanical Turk
crowd (in <code>amt/</code>) for inspiration.</p></li>
</ol>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/amplab/ampcrowd">AMPcrowd</a> is maintained by <a href="https://github.com/amplab">amplab</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>

