{% extends "basecrowd/base.html" %}

{% block get_submit_context_func %}
            function get_submit_context(urlParamStrings)
            {
                var HITId;
                var workerId;
                var assignmentId;

                for (var i = 0; i < urlParamStrings.length; i++)
                {
                    var pair = urlParamStrings[i].split("=");
                    if (pair[0] == "hitId")
                        HITId = pair[1];
                    else if (pair[0] == "assignmentId")
                        assignmentId = pair[1];
                    else if (pair[0] == "workerId")
                        workerId = pair[1];
                }

                return {
                    task_id: HITId,
                    worker_id: workerId,
                    assignment_id: assignmentId
                }

            }
{% endblock get_submit_context_func %}
