{% extends base_template_name %}
<!-- Add HTML to display an interface to the crowd for completing tasks of a new type.

This template will display a single-screen interface to the crowd for gathering labels of one or more items of the same
task type. To define your task type, copy this template, then fill in the blocks below.

Note: Twitter Bootstrap CSS classes will be available for styling.

-->

{% block jslibraries %}
    {{ block.super }}
    <script type='text/javascript' src='/static/basecrowd/js/retainer.js'></script>
{% endblock jslibraries %}

{% block customjs %}
    {{ block.super }}
{% endblock customjs %}

{% block ready_func %}
{{ block.super }}

// Initialize the retainer object
PING_ENDPOINT = "/crowds/{{ crowd_name }}/retainer/ping/"
WORK_ENDPOINT = "todo"
PING_INTERVAL = 2500
WORK_INTERVAL = 1000
$(document).ready(function()
{
    var context = prepare_submit_data()
    Retainer.init(context.workerId, context.assignmentId, context.HITId)
});
{% endblock ready_func %}

{% block default_instruction %}
<p> This will be a retainer task--we will show you various tasks inside this!</p>
{% endblock %}

{% block item_data %}
<p>Hopefully unnecessary</p>
{% endblock %}

{% block item_labels %}
<p>Hopefully really unnecessary</p>
{% endblock %}
