<section class="page-header">
  <h1 class="project-name"><a class="nostyle" href="index.html">AMPcrowd</a></h1>
  <h2 class="project-tagline">A RESTful web service that runs microtasks across multiple crowds, provides quality control techniques, and is easily extensible.</h2>
  <a href="https://github.com/amplab/ampcrowd" class="btn">View on GitHub</a>
  <a href="https://github.com/amplab/ampcrowd/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/amplab/ampcrowd/tarball/master" class="btn">Download .tar.gz</a>
</section>
